<div class="navbar p-0 {{ filter.class }}">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">
      {{ filter.name }} <span class="text-danger">( {{ displayName }} )</span>
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        [ngClass]="{ active: !value }"
        *ngIf="filter?.selectAll"
        (click)="onSelectAll()"
      >
        Tất cả
      </a>
      <ng-container *ngFor="let item of filter.dataSource">
        <a
          class="dropdown-item"
          [ngClass]="{ active: item.active }"
          (click)="onSelect(item)"
        >
          {{ item.name }}
        </a>
      </ng-container>
    </div>
  </div>
</div>
